// TODO: header styling
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(50) rem(100);

  @include breakpoint-down(medium) {
    padding: rem(50);
  }

  @include breakpoint-down(mobile) {
    padding: rem(50) rem(20);
  }


  // ************************************************************

  // TODO: JS class that controls hamburger
  &.open {

    // TODO: icon rotate helper class
    .icon-rotate {

      animation: spin 0.1s linear both;

      @keyframes spin {
          0% {transform: rotate(0deg);}
          100% {transform: rotate(180deg);} 
      }
    }

    //todo: hamburger animation
    .header__menu {
      > span:first-of-type {
        transform: rotate(45deg);
      }
      > span:nth-of-type(2) {
        opacity: 0;
      }
      > span:last-of-type {
        transform: rotate(-45deg);
      }
    }

    .header__buttons {
      display: flex;
      flex-direction: column;
      gap: rem(30);
      // justify-content: center;
      // align-items: center;

      position: absolute;
      width: 90%;
      height: auto;
      padding:  rem(50);
      border-radius: rem(10);
      box-shadow: 0 2px 20px #8888;
      background-color: white;
      top: rem(130);
      left: 50%;
      transform: translateX(-50%);


      .header__links {
        display: flex;
        flex-direction:  column;
        align-items: center;
        justify-content: flex-start;
        // background-color: blue;
        width: 90%;

        &-container{
          // background: red;
          display: flex;
          flex-direction: column;
          align-items: center;
          width:100%;
        }
      

        &-sub{
          background:rgb(237, 234, 234); //
          width: 100%;
          padding:  rem(10) 0;
          border-radius: rem(10);
          margin-top:  rem(20);
          display: none;
          flex-direction: column;
          align-items: center;
          gap: rem(20);
          a{
            text-align: center;
          }

          &--active{
            display: flex;
          }
            
        }


        a {
          color: $clr-headings;
          font-size: rem(20);
          font-weight: $weight-bold;
        }
      }

      .header__link{
        display: flex;
        align-items: center;
        gap:  rem(10);
      }

      .header__cta {
        // background-color: rgb(0, 255, 72);
        border-top: 1px solid rgb(199, 197, 197);
        width: 100%;
        padding: rem(20) 0;
        display: flex;
        flex-direction: column;

        a{
          font-size: rem(20);

          &:first-of-type{
            color: $clr-headings;
          }

          &:last-of-type{
            background: $gradient-sections;
            color: $clr-text;
            
          }
        }
      }
    }
  }


  // ************************************************************
  
//   TODO: HEader logo styling
  &__logo {
    flex: 1;

    img {
      width: rem(105);
      height: rem(45);
    }
  }

  // todo: header nnav styling
  nav {
    flex: 5;

    @include breakpoint-down(medium) {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }

  

  &__menu {
    > span {
      display: block;
      background: white;
      height: rem(2);
      width: rem(30);
      transform-origin: 5px 1px;

      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

  &__links {
    display: flex;
    position: relative;
    gap: rem(25);

    @include breakpoint-down(medium) {
      display: none;
    }

  }

  &-container{
    position: relative;
  }

  &__link{
    @include breakpoint-up(large){
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: rem(10);
      font-size: rem(14);
      font-weight: $weight-bold;

      &:hover{
        text-decoration: underline;
      }
      

      &-sub{
        background: white;
        padding: rem(20) 0 rem(20) rem(20);
        width: rem(150);
        border-radius:  rem(10);
        box-shadow: 0 0 4px #888;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: rem(45);
        transform: translateX(rem(-20));


        a{
          font-size: rem(14);
          font-weight: $weight-medium;
          color: black;

          &:hover{
            font-weight:$weight-bold;
          }

        }
        
      }

    }
  }

  // ************************************************************

  &__cta {
    display: flex;
    align-items: center;
    gap: rem(20);

    @include breakpoint-down(medium) {
      display: none;
    }

    a {
      font-weight: $weight-bold;
      font-size: rem(14);

      &:last-of-type {
        background: $clr-text;
        color: $clr-CTA-text;
        padding: rem(10) rem(30);
        border-radius: rem(30);

        &:hover {
          background: $clr-CTA-hover-background;
          color: $clr-text;
          
        }
      }
    }
  }

  

}


