*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  margin-left: -40px;
}

html {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  text-rendering: optimizeSpeed;
  background: white;
  max-width: 100%;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  font-family: "Overpass", sans-serif;
  color: white;
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 2.875rem;
  }
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
}

h3 {
  font-size: 1.625rem;
  line-height: 2.25rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

p,
a {
  font-size: 1rem;
  line-height: 1.8125rem;
  color: white;
  font-weight: 300;
  font-family: "Overpass", sans-serif;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.page-container {
  background-image: url(../../images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ffa38a), to(#ff1430));
  background-image: url(../../images/bg-pattern-intro.svg), linear-gradient(#ffa38a, #ff1430);
  background-size: 187.5rem 156.25rem, 100%;
  background-repeat: no-repeat;
  background-position: -23.75rem -65.625rem, top;
  min-height: 34.375rem;
  max-width: 100%;
  border-radius: 0rem 0rem 0rem 6.25rem;
}

@media (max-width: 63.9375em) {
  .page-container {
    background-size: 125rem 93.75rem, 100%;
    background-position: -31.25rem -25rem, top;
  }
}

@media (max-width: 63.9375em) {
  .page-container {
    background-size: 112.5rem 93.75rem, 100%;
    background-position: -31.25rem -25rem, top;
  }
}

.section {
  opacity: 1;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(10);
          transform: translateY(10);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 6.25rem;
}

@media (max-width: 63.9375em) {
  .header {
    padding: 3.125rem;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 3.125rem 1.25rem;
  }
}

.header .icon-rotate {
  -webkit-animation: spin 0.1s linear both;
          animation: spin 0.1s linear both;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.header.open .header__menu > span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-of-type(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  position: absolute;
  width: 90%;
  height: auto;
  padding: 3.125rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 2px 20px #8888;
          box-shadow: 0 2px 20px #8888;
  background-color: white;
  top: 8.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header.open .header__buttons .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  z-index: 10000;
}

.header.open .header__buttons .header__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header.open .header__buttons .header__links-sub {
  background: #edeaea;
  width: 100%;
  padding: 0.625rem 0;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header.open .header__buttons .header__links-sub a {
  text-align: center;
}

.header.open .header__buttons .header__links-sub--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.open .header__buttons .header__links a {
  color: #1f3f5b;
  font-size: 1.25rem;
  font-weight: 700;
}

.header.open .header__buttons .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header.open .header__buttons .header__cta {
  border-top: 1px solid #c7c5c5;
  width: 100%;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header.open .header__buttons .header__cta a {
  font-size: 1.25rem;
}

.header.open .header__buttons .header__cta a:first-of-type {
  color: #1f3f5b;
}

.header.open .header__buttons .header__cta a:last-of-type {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa38a), to(#ff1430));
  background: linear-gradient(#ffa38a, #ff1430);
  color: white;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__logo img {
  width: 6.5625rem;
  height: 2.8125rem;
}

.header nav {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

@media (max-width: 63.9375em) {
  .header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__menu > span {
  display: block;
  background: white;
  height: 0.125rem;
  width: 1.875rem;
  -webkit-transform-origin: 5px 1px;
          transform-origin: 5px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 1.5625rem;
}

@media (max-width: 63.9375em) {
  .header__links {
    display: none;
  }
}

.header-container {
  position: relative;
}

@media (min-width: 64em) {
  .header__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
    font-size: 0.875rem;
    font-weight: 700;
  }
}

@media (min-width: 64em) and (min-width: 64em) {
  .header__link-sub {
    background: white;
    padding: 1.25rem 0 1.25rem 1.25rem;
    width: 9.375rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0 4px #888;
            box-shadow: 0 0 4px #888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 2.8125rem;
    -webkit-transform: translateX(-1.25rem);
            transform: translateX(-1.25rem);
  }
  .header__link-sub a {
    font-size: 0.875rem;
    font-weight: 500;
    color: black;
  }
  .header__link-sub a:hover {
    font-weight: 700;
  }
  .header__link-sub-hide {
    display: none;
  }
}

@media (min-width: 64em) {
  .header__link:hover {
    text-decoration: underline;
  }
}

.header__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

@media (max-width: 63.9375em) {
  .header__cta {
    display: none;
  }
}

.header__cta a {
  font-weight: 700;
  font-size: 0.875rem;
}

.header__cta a:last-of-type {
  background: white;
  color: #ff525d;
  padding: 0.625rem 1.875rem;
  border-radius: 1.875rem;
}

.header__cta a:last-of-type:hover {
  background: #ff7a85;
  color: white;
}

.nav__link:hover ~ .header__link-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.hero {
  min-height: 18.75rem;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero p {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}

@media (max-width: 39.9375em) {
  .hero p {
    font-size: 1rem;
  }
}

.hero__cta {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__cta a {
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
  font-weight: 700;
}

@media (max-width: 450px) {
  .hero__cta a {
    padding: 0.625rem;
  }
}

.hero__cta a:first-of-type {
  background: white;
  color: #ff525d;
}

.hero__cta a:first-of-type:hover {
  background: #ff7a85;
  color: white;
}

.hero__cta a:last-of-type {
  border: 1px solid white;
}

.hero__cta a:last-of-type:hover {
  background: white;
  color: #ff525d;
  outline: none;
}

.feature {
  margin-top: 3.125rem;
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
}

@media (max-width: 3840px) {
  .feature {
    margin: 1.875rem auto 0 auto;
    padding: 0 5.625rem;
    background-image: url(../../images/illustration-editor-desktop.svg);
    background-size: 125rem 50rem;
    background-repeat: no-repeat;
    background-position: 156.25rem center;
    z-index: 100000;
  }
}

@media (max-width: 3000px) {
  .feature {
    background-size: 112.5rem 50rem;
    background-position: 106.25rem center;
  }
}

@media (max-width: 2000px) {
  .feature {
    background-size: 62.5rem 50rem;
    background-position: 62.5rem center;
  }
}

@media (max-width: 1440px) {
  .feature {
    background-position: 50rem center;
  }
}

@media (max-width: 63.9375em) {
  .feature {
    background-image: none;
    padding: 0 1.25rem;
  }
}

@media (max-width: 3840px) {
  .feature-2 {
    margin: 6.25rem auto 0 auto;
    padding: 0 5.625rem;
    background-image: url(../../images/illustration-laptop-desktop.svg);
    background-size: 125rem 50rem;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 100000;
  }
}

@media (max-width: 3000px) {
  .feature-2 {
    background-size: 112.5rem 50rem;
    background-position: -37.5rem center;
  }
}

@media (max-width: 2000px) {
  .feature-2 {
    background-size: 62.5rem 50rem;
    background-position: -12.5rem center;
  }
}

@media (max-width: 1440px) {
  .feature-2 {
    background-position: -17.5rem center;
  }
}

@media (max-width: 1250px) {
  .feature-2 {
    background-position: -25rem center;
  }
}

@media (max-width: 63.9375em) {
  .feature-2 {
    background-image: none;
    padding: 0 1.25rem;
  }
}

.feature__container {
  margin-top: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

@media (min-width: 64em) {
  .feature__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 64em) {
  .feature__container-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.feature h2 {
  text-align: center;
}

@media (min-width: 64em) {
  .feature__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .feature__image img {
    display: none;
  }
}

.feature__image:last-of-type {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.feature__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

@media (min-width: 64em) {
  .feature__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__text-section {
  padding: 0 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.25rem;
}

@media (min-width: 64em) {
  .feature__text-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.feature__text-section p {
  color: #4b5862;
  font-size: 1rem;
}

.feature__text:last-of-type {
  text-align: center;
}

.feature__text:last-of-type p {
  color: #4b5862;
}

@media (min-width: 64em) {
  .feature__text:last-of-type {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}

.illustration {
  margin-top: 12.5rem;
  position: relative;
  min-height: 6.25rem;
  background: url(../../images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: url(../../images/bg-pattern-circles.svg), linear-gradient(#2c2d3f, #3f4164);
  background-size: 36.25rem 43.75rem, 100%;
  background-repeat: no-repeat;
  background-position: center -18.75rem, center;
  border-radius: 0 7.5rem 0 7.5rem;
  padding: 6.25rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .illustration {
    max-height: 25rem;
    background-size: 65.625rem 53.125rem, 100%;
    background-position: -14.375rem -22.5rem, center;
    padding: 0 3.125rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.illustration__image {
  position: absolute;
  top: -10rem;
}

@media (min-width: 64em) {
  .illustration__image {
    position: relative;
    top: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.illustration__text {
  margin-top: 9.375rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

@media (min-width: 470px) {
  .illustration__text {
    margin-top: 18.75rem;
  }
}

@media (min-width: 64em) {
  .illustration__text {
    margin-top: 0;
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.illustration__text h2 {
  color: white;
}

.footer {
  margin-top: 3.125rem;
  background: #25252d;
  border-radius: 0 6.25rem 0 0;
  padding: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

@media (min-width: 64em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4.375rem 9.375rem;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__links-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__links-section a:hover {
  text-decoration: underline;
}

.footer__links-section-sub {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links-section-sub a {
  color: #c8c8cb;
}

.footer__links-section-sub a:hover {
  text-decoration: underline !important;
}
/*# sourceMappingURL=style.css.map */